{% extends 'base.html' %}
{% comment %} {% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Editar Livro{% else %}Adicionar Livro{% endif %}{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Editar Livro{% else %}Adicionar Livro{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
<a href="{% url 'livro_list' %}">Cancelar</a>
{% endblock %} {% endcomment %}


{% comment %} {% block title %}{% if form.instance.pk %}Editar Livro{% else %}Adicionar Livro{% endif %}{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Editar Livro{% else %}Adicionar Livro{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
<a href="{% url 'livro_list' %}">Cancelar</a>
{% endblock %} {% endcomment %}

<!-- livro_form.html -->

{% block content %}
<h1>{% if form.instance.pk %}Editar Livro{% else %}Adicionar Livro{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
<a href="{% url 'livro_list' %}">Cancelar</a>
{% endblock %}